table {
  width: 100%;
}
table tr.odd td {
  background-color: #F6F6F6;
}
table tr.even td {
  background-color: #FBFBFB;
}
thead th {
  border-bottom: none;
  padding: 3px 10px 3px 15px;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  font-weight: normal; 
  background-color: #ddd;
}
table thead tr th a.active {
  color: #000;
  display: block;
}
thead th.active a {
}
thead th a img {
  position: absolute;
  left: -9999px;
}
tbody td {
  padding: 3px 10px 3px 15px;
  border-left: 1px solid #CCCCCC;  
}
table {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
thead {
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
